.date-range-picker {
    margin: 20px;
    text-align: center;
    justify-content: center;
    margin: auto;
}

.date-input {
    padding: 8px;
    margin-bottom: 10px;
    cursor: pointer;
}

.calendar-container {
    margin-top: 10px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.calendars {
    padding: 50px;
    display: flex;
    justify-content:center; /* Ensure space between calendars */
    gap: 100px; /* Space between the calendars */
}

.calendar {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    width: 400px; /* Set a fixed width for the calendars */
}

.calendar-header {
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;
}

.days-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 columns for the days of the week */
    gap: 5px; /* Space between the days */
}

.day-header {
    font-weight: bold;
    text-align: center;
}

.date-button {
    padding: 8px;
    background-color: white;
    color: black;
    border: 1px solid #ddd;
    cursor: pointer;
    text-align: center;
}

.date-button:hover {
    background-color: rgb(212, 245, 185);
}

.date-button.selected {
    background-color: blue;
    color: white;
    border: 2px solid blue;
}

.date-button.in-range {
    background-color: lightblue;
    color: white;
}

.date-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.apply-button {
    margin-top: 10px;
    padding: 8px;
    cursor: pointer;
}

.highlight {
    background-color: lightblue; /* Change to your preferred highlight color */
    border: 2px solid blue; /* Optional: border for highlighted dates */
  }
  